.services {
  padding: 0 0 70px;

  .servis-card {
    text-align: center;
    box-shadow: 1px 1px 22.9px 9px #97979729;
    padding: 80px 40px 60px;
    position: relative;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    margin-bottom: 100px;
    .servis-card-icon {
      width: 165px;
      height: 165px;
      left: 50%;
      transform: translateX(-50%);
      gap: 10px;
      border-radius: 12px;
      box-shadow: 1px 1px 22.9px 9px #97979729;
      position: absolute;
      top: -35%;
      background-color: white;
      font-size: 47px; // LG ölçü
      color: #D80027;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    h5 {
      font-weight: 500;
      font-size: 30px; // LG
      line-height: 100%;
      margin-bottom: 16px;

      @media (max-width: 991.98px) {
        font-size: 25px;
      }
      @media (max-width: 767.98px) {
        font-size: 20px;
      }
    }

    p {
      font-weight: 400;
      font-size: 18px; // LG
      line-height: 30px;
      margin-bottom: 30px;
      color: #7C7C7C;

      @media (max-width: 991.98px) {
        font-size: 16px;
        line-height: 28px;
      }
      @media (max-width: 767.98px) {
        font-size: 14px;
        line-height: 24px;
      }
    }

    button {
      width: 68px;
      height: 68px;
      gap: 10px;
      border-radius: 39.5px;
      border: none;
      background: white;
      box-shadow: 1px 1px 19.2px 1px #D800272B;

      a {
        color: #D80027;
        font-size: 30px; // LG
        @media (max-width: 991.98px) {
          font-size: 25px;
        }
        @media (max-width: 767.98px) {
          font-size: 20px;
        }
      }

      .icon {
        margin-top: -3px;
      }
    }

    &:hover {
      background-color: #FFFBFC;
    }
  }

  .services-more {
    @media (max-width: 991.98px) {
      padding: 0;
    }
    @media (max-width: 767.98px) {
      padding: 0;
    }
      .service-more{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    h3 {

      text-align: center;
      font-size: 25px;
      padding: 16px 0;
      font-weight: 500;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      line-height: 38px;
      scroll-margin-top: 80px;
      margin: 0;
      @media (max-width: 991.98px) {
        font-size: 25px;
        line-height: 34px;
      }
      @media (max-width: 767.98px) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    p {
      font-weight: 400;
      line-height: 35px;
      color: #535862;
      padding: 32px;
      margin: 0 0 50px;

      @media (max-width: 991.98px) {
        font-size: 18px;
        line-height: 32px;
      }
      @media (max-width: 767.98px) {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  .banner {
    position: relative;

    .servis-banner-image {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      @media (max-width: 991.98px) {
        height: 1100px;
      }
      @media (max-width: 767.98px) {
        height: 500px;
      }
    }
  }
}
