#logoScrollHome {
  padding: 25px 0 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 1px 1px 8.1px 0px #D6D6D685;
margin-bottom: 75px;
  .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    position: relative;
    white-space: nowrap;

    .box {
      width: 200px;
      padding: 0 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      height: 70px;
      object-fit: contain;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
      }

      img {
        width: 100%;
        aspect-ratio: 16/9;

        object-fit: contain;
      }
    }
  }

  .left {
    animation: scrollLeft 2000s linear infinite;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}