.blog-card{
  padding: 27px;
  border-radius: 15px;
  background-color: white;
  height: 100%;
  .image{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    img{
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
      }
  .date{
    padding: 3px 12px;
  display: inline-block;
    border-radius: 15px;
    margin-bottom: 10px;

  }
  p{
    color: #979797;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1 ;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #FFF8FB;
    border: 1px solid #D80027;
    color: #D80027;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: #D80027;
      color: white;

    }
  }
}