.banner{
  padding: 0 0  100px ;

  .container {
    position: relative;
  }
  h1{
    font-weight: 700;
    width:90%;
    font-size: 48px;
    line-height: 72px;
  span{
    font-size: 48px;
    color: #0D60FE;
  }
  }
  p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #7C7C7C;
    margin-bottom: 44px;
  }
  .image{
    position: relative;
    width: 117%;
    z-index: -1;
    img{
      width: 100%;
      z-index: -1 ;
    }
  }
  .choosen{
    position: absolute;
    left: 0;
    width: max-content;
    box-shadow: 1px 1px 16px 0px #5A5A5A1C;
    padding: 14px;
    background-color: white;
    border-radius: 15px;
    z-index: 999;
    .choose{
      display: flex;
      gap: 10px;
      padding: 15px 55px 15px 14px;
      background-color: #F3F3F3CF;
      border-radius: 15px;
      .icon{
        font-size: 20px;
      }
      p{
        margin: 0 0 5px;
        font-weight: 700;
        line-height: 19.09px;
        color: #333333;
      }
      span{
        font-weight: 400;
        font-size: 16px;
        line-height: 19.09px;
        color: #7C7C7C;
      }
    }
    button{
      padding: 10px 20px;
      background-color: #0D60FE;
      border-radius: 15px;
      color: white;
      font-weight: 900;
      border: none;
      font-size: 25px;
    }
  }
}