.banner-home {
  padding: 100px 0 100px;
  overflow: hidden;

  .container {
    position: relative;
  }

  h1 {
    font-weight: 700;
    width: 90%;
    font-size: 48px;
    line-height: 72px;

    span {
      font-size: 48px;
      color: #0D60FE;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #7C7C7C;
    margin-bottom: 44px;
  }

  .image {
    position: relative;
    width: 148%;
    z-index: -1;

    img {
      width: 100%;

      z-index: -1;
    }
  }

  .choosen {
    position: absolute;
    left: 0;
    width: 65%;
    box-shadow: 1px 1px 16px 0px #5A5A5A1C;
    padding: 14px;
    background-color: white;
    border-radius: 25px;
    z-index: 9;

    input {
      width: 100%;
      padding: 10px 16px;
      border-radius: 10px;
      border: none;
      font-size: 20px;
      outline: none;
    }

    button {
      padding: 10px 20px;
      background-color: #0D60FE;
      border-radius: 15px;
      color: white;
      font-weight: 900;
      border: none;
      font-size: 25px;
    }
  }

  .plane-image {
    position: absolute;
    bottom: 0;
  }
}