.banner-home {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 991.98px) {
    height: 700px;
  }
  @media (max-width: 767.98px) {
    height: 700px;
  }
  .container {
    position: relative;
  }
  .home-banner{
    position: absolute;
    top: -10%;
    width: 100%;
    z-index: -1;
  }
  h1 {
    font-weight: 700;
    width: 90%;
    font-size: 48px; // LG ölçü
    line-height: 72px; // LG ölçü

    @media (max-width: 991.98px) { // MD ölçü
      font-size: 40px;
      line-height: 60px;
    }
    @media (max-width: 767.98px) { // SM ölçü
      font-size: 34px;
      line-height: 52px;
    }

    span {
      font-size: 48px; // LG ölçü

      @media (max-width: 991.98px) {
        font-size: 40px;
      }
      @media (max-width: 767.98px) {
        font-size: 34px;
      }
    }
  }

  p {
    font-weight: 400;
    font-size: 20px; // LG ölçü
    line-height: 32px; // LG ölçü
    color: #7C7C7C;
    margin-bottom: 44px;

    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 28px;
    }
    @media (max-width: 767.98px) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .image {
    position: relative;
    width: 148%;
    z-index: -1;

    img {
      width: 100%;
      z-index: -1;
    }
  }

  .choosen {
    position: absolute;
    left: 0;
    width: 65%;
    box-shadow: 1px 1px 16px 0px #5A5A5A1C;
    padding: 14px;
    background-color: white;
    border-radius: 25px;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    &:hover{
      box-shadow: 1px 1px 12px 4px rgba(218, 15, 15, 0.26);

    }
    @media (max-width: 991.98px) {
      width: 100%;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }

    input {
      width: 100%;
      padding: 10px 16px;
      border-radius: 10px;
      border: none;
      font-size: 20px; // LG ölçü
      outline: none;


      @media (max-width: 991.98px) {
        font-size: 18px;
      }
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
    }

    button {
      padding: 10px 20px;
      background-color: #D80027;
      border-radius: 15px;
      color: white;
      font-weight: 900;
      border: none;
      font-size: 25px;
      .icon-banner{
        margin-top: -3px;
      }

      @media (max-width: 991.98px) {
        font-size: 22px;
      }
      @media (max-width: 767.98px) {
        font-size: 20px;
      }
    }
  }

  .plane-image {
    position: absolute;
    bottom: -250px;
    margin-top:700px;
    @media (max-width: 991.98px) {
      bottom: -125%;
      width: 100%;
    }
    @media (max-width: 767.98px) {
      bottom: -175%;
      width: 90%;
    }
  }
}
