.banner-home {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  background-image: url('/src/assets/Change_Animation (0-00-08-08).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  //height: 100vh;
  @media screen and (max-width: 768px) {
    background-image: url('/src/assets/Change_Animation 9-16.jpg');
  }

  .container {
    position: relative;
    z-index: 2; // Ensure container content is above the background
  }

  .left {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;

    &.visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }

  h1 {
    font-weight: 500;
    font-size: 80px;
    line-height: 120px;
    text-align: right;
    color: #ffffff;
    @media (max-width: 991.98px) {
      font-size: 40px;
      line-height: 60px;
      margin-top: 50px;
    }
    @media (max-width: 767.98px) {
      font-size: 34px;
      line-height: 52px;
      margin-top: 50px;
    }
  }

  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #d4d4d4;
    margin-bottom: 44px;
    margin-left: auto;
    width: 80%;
    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 28px;
    }
    @media (max-width: 767.98px) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .choosen {
    width: 70%;
    box-shadow: 1px 1px 16px 0px #5a5a5a1c;
    margin-left: auto;
    padding: 4px 14px;
    background-color: white;
    border-radius: 25px;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 1px 1px 12px 4px rgba(218, 15, 15, 0.26);
    }
    @media (max-width: 991.98px) {
      width: 100%;
    }
    @media (max-width: 767.98px) {
      width: 100%;
    }

    input {
      width: 100%;
      padding: 10px 16px;
      border-radius: 10px;
      border: none;
      font-size: 20px;
      outline: none;
      &::placeholder {
        color: #d3cfcf;
      }

      @media (max-width: 991.98px) {
        font-size: 18px;
      }
      @media (max-width: 767.98px) {
        font-size: 16px;
      }
    }

    button {
      padding: 6px 12px;
      background-color: #d80027;
      border-radius: 15px;
      color: white;
      font-weight: 900;
      border: none;
      font-size: 25px;
      .icon-banner {
        margin-top: -3px;
      }

      @media (max-width: 991.98px) {
        font-size: 22px;
      }
      @media (max-width: 767.98px) {
        font-size: 20px;
      }
    }
  }
}