.start-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff; // Arxa plan rəngi, istədiyiniz kimi dəyişdirə bilərsiniz
}

.start-page-container h1 {
  overflow: hidden; /* Yazının qırpılmasını təmin edir */
  //border-right: 0.15em solid #D80027; /* İmleç effekti üçün */
  white-space: nowrap;
  margin: 0 auto;
  color: #D80027;
  font-size: 60px;
  letter-spacing: 0.15em;
  //animation: typing .5s steps(40, end), blink-caret 0.75s step-end infinite;
}

// Mobil görünüş üçün tənzimləmələr
@media (max-width: 767.98px) {
  .start-page-container h1 {
    font-size: 16px;       // Yazı ölçüsünü kiçildir
    white-space: normal;   // Yazının wrap olması üçün
    word-wrap: break-word; // Sözlər ekran ölçüsünə sığmırsa, yeni sətirə keçsin
  }
}

///* Yazının yazılma animasiyası */
//@keyframes typing {
//  from { width: 0 }
//  to { width: 100% }
//}
//
///* İmlecin yanıb-sönmə effekti */
//@keyframes blink-caret {
//  from, to { border-color: transparent }
//  50% { border-color: #D80027; }
//}
