.start-page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
                  135deg,
                  rgba(255, 0, 0, 0.1) 0%,
                  rgba(255, 0, 0, 0) 50%,
                  rgba(255, 0, 0, 0.1) 100%
  );
  background-size: 100% 100%;

  img {
    width: 250px;
  }
}
