.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; /* Butonlarla sayfa numaraları arasındaki boşluk */
  font-family: sans-serif;
  .pagination__button {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px #0A0D120D;
    transition: all 0.4s ease;
    &:hover{
      background-color: #FFE9ED;
      color: #D80027;
      border: none;
    }
  }


  .pagination__list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .pagination__list li {
    margin: 0; /* Varsayılan tarayıcı boşluklarını sıfırlıyoruz */
  }

  .pagination__link {
    display: block;
    padding: 6px 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border: 1px solid transparent;
    text-align: center;
    align-content: center;
  }

  .pagination__link:hover {
    background-color: #ececec;
  }

  .pagination__link.active {
    background-color: #FFE9ED; /* Seçili sayfa rengi */
    color: #D80027;
  }

  .pagination__dots {
    color: #999;
  }

}