.navbar-sec{
  padding: 0 16px;
  align-content: center;
  border-bottom: 1px solid #74747440;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  li{
    font-size: 20px;
  }
}