.popular {
  padding: 80px 0 100px;
  position: relative;
  @media (max-width: 991.98px) { // MD ölçü
    padding:80px 0 50px ;
  }
  @media (max-width: 767.98px) { // SM ölçü
    padding:80px 0 50px ;
  }
  .custom-pagination {
    text-align: center;
    margin-top: 20px;
  }
  .custom-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  .custom-bullet.active {
    background: #000000;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }

    p {
      width: 44%;
      font-weight: 400;
      font-size: 16px; // LG ölçü
      line-height: 30px;
      padding-left: 38px;

      @media (max-width: 991.98px) {
        width: 100%;
        padding: 0;
        font-size: 14px; // MD ölçü
        line-height: 26px;
      }
      @media (max-width: 767.98px) {
        width: 100%;
        padding: 0;
        font-size: 14px; // SM ölçü
        line-height: 28px;
      }
    }

    h2 {
      font-weight: 700;
      font-size: 36px; // LG ölçü
      line-height: 42.96px;

      @media (max-width: 991.98px) {
        font-size: 32px; // MD ölçü
        line-height: 38px;
      }
      @media (max-width: 767.98px) {
        font-size: 28px; // SM ölçü
        line-height: 34px;
      }
    }
  }

  .background {
    position: absolute;
    background-color: #FFF8F8;
    height: 60%;
    border-radius: 200px 0 0 200px;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin-left: 15px;
  }

  .white {
    background-color: white;
    border: 1px solid #000000;
    color: #000000;
  }

  .blue {
    background-color: #000000;
    color: white;
  }

  swiper {
    width: 100%;
    height: 100%;
  }
}
