.popular {
  padding: 80px 0 100px;
  position: relative;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    @media (max-width: 767.98px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }

    p {
      width: 44%;
      font-weight: 400;
      font-size: 16px; // LG ölçü
      line-height: 30px;
      padding-left: 38px;

      @media (max-width: 991.98px) {
        width: 100%;
        padding: 0;
        font-size: 14px; // MD ölçü
        line-height: 26px;
      }
      @media (max-width: 767.98px) {
        width: 100%;
        padding: 0;
        font-size: 13px; // SM ölçü
        line-height: 24px;
      }
    }

    h2 {
      font-weight: 700;
      font-size: 36px; // LG ölçü
      line-height: 42.96px;

      @media (max-width: 991.98px) {
        font-size: 32px; // MD ölçü
        line-height: 38px;
      }
      @media (max-width: 767.98px) {
        font-size: 28px; // SM ölçü
        line-height: 34px;
      }
    }
  }

  .background {
    position: absolute;
    background-color: #f3f7ff;
    height: 60%;
    border-radius: 200px 0 0 200px;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 17px;
    cursor: pointer;
    margin-left: 15px;
  }

  .white {
    background-color: white;
    border: 1px solid #0D60FE;
    color: #0D60FE;
  }

  .blue {
    background-color: #0D60FE;
    color: white;
  }

  swiper {
    width: 100%;
    height: 100%;
  }
}
