.card123{
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  overflow: hidden;
  position: relative;
  &:hover{
    .image{
      img{
        transform: scale(1.1);
      }
    }
  }
  .image{
    width: 100%;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      aspect-ratio: 1/1.2;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }
    .raiting{
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: rgba(0, 0, 0, 0.27);
      padding: 5px 10px;
      border-radius: 15px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
      gap: 5px;

      p{
        margin: 0;
        padding: 0;
        font-size: 16px;

      }
    }
  }
  .card-content{
    padding: 20px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    .text{
      height: 100%;
      h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        span{
          font-size: 18px;
          color:#868686;
        }
      }
    }
    button{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: black;
      border: none;
      color: white;
      font-size: 20px;
      transform: rotate(-25deg);
      transition: all 0.3s ease;
      &:hover{
        transform: rotate(0deg);
      }
    }
  }
  .mobile-button{
    position: absolute;
    bottom: 61px;
    left: 50%;
    transform: translateX(-50%);
    button{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      border: none;
      color: black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      font-size: 20px;
      transform: rotate(0);
      transition: all 0.3s ease;
      &:hover{
        transform: rotate(-25deg);
      }
    }

  }
}